*{
    font-family: monospace, Courier, monospace;
    overflow: hidden;
}
body{
    margin: 0;
}
#background{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    background: url(y_room.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#cat{
    width: 100dvh;
    animation: stretchh 1s infinite ;
}
.button{
    width: 10dvw;
    margin: 10px;
    background-color: rgba(223, 59, 30, 0.712);
    font-size: 1.5em;
    border-radius: 100px;
    border: 1px solid whitesmoke;
    padding: 1vh 1vw;
    transition: padding 0.2s ease-in-out , background-color 0.2s ease-in-out;
    animation: fade 1.5s 1 forwards;
}
.button:hover {
    background-color: rgba(197, 13, 13, 0.842);
    padding: 1.5vh 2vw;
}
q{
    height: 10vh;
}
@keyframes stretchh{
   0%{
    transform: scaleY(1);
   } 
   50%{
    transform: scaleY(1.08);
   } 
   60%{
    transform: scaleY(1.08);
   }
   100%{
    transform: scaleY(1);
   } 
}
@media (max-width: 777px) {
    #cat{
        width: 50dvh;
    }
    .button{
        width: 25dvw;
    }
}